apiVersion: apps/v1
kind: Deployment
metadata:
  name: node-server-deployment
spec:
  replicas: 2  # Number of pods you want to run
  selector:
    matchLabels:
      app: node-server
  template:
    metadata:
      labels:
        app: node-server
    spec:
      containers:
        - name: node-server
          image: safaabidi99/node-server:5.0  # Docker image from Docker Hub
          ports:
            - containerPort: 3000  # Port your Node.js app is running on
